
html {

  <img style="width:80%"
  src="wireframes/flex-1-align.png"
  alt="Wireframe of a step-wise like design pattern." />
  
  <img style="width:80%"
       src="wireframes/flex-2-row-scheme.png"
       alt="Wireframe of a set of sections that alternate image and textual content boxes." />
       
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  .three {
    grid-column: 1;
    grid-row: 2 / 5;
  }
  .four {
    grid-column: 3;
    grid-row: 3;
  }
  .five {
    grid-column: 2;
    grid-row: 4;
  }
  .six {
    grid-column: 3;
    grid-row: 4;
  }